<%= form_with(model: @question, local: true) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Text Input for Question -->
  <div class="form-group">
    <%= form.label :text, "Question Text", class: 'form-label' %>
    <%= form.text_area :text, class: 'form-control', rows: 3, placeholder: 'Enter the question text here' %>
  </div>

  <!-- Answer Type Dropdown -->
  <div class="form-group">
    <%= form.label :answer_type, "Answer Type", class: 'form-label' %>
    <%= form.select :answer_type, [['true_false'], ['text']], { prompt: 'Select answer type' }, class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= form.submit 'Save Question', class: 'btn btn-primary' %>
    <%= link_to 'Back', all_questions_path, class: 'btn btn-secondary ms-2' %>
  </div>
<% end %>
