<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- First Name -->
  <div class="mb-3">
    <%= f.label :first_name, class: 'form-label' %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class: 'form-control' %>
  </div>

  <!-- Last Name -->
  <div class="mb-3">
    <%= f.label :last_name, class: 'form-label' %>
    <%= f.text_field :last_name, autocomplete: "family-name", class: 'form-control' %>
  </div>

  <!-- Email -->
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <!-- Aadhar Number -->
  <div class="mb-3">
    <%= f.label :aadhar_number, class: 'form-label' %>
    <%= f.text_field :aadhar_number, autocomplete: "aadhar_number", class: 'form-control' %>
  </div>

  <!-- Confirmation Warning -->
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-warning">
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <!-- Password -->
  <div class="mb-3">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <small><em><%= @minimum_password_length %> characters minimum</em></small>
    <% end %>
  </div>

  <!-- Password Confirmation -->
  <div class="mb-3">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <!-- Current Password -->
  <div class="mb-3">
    <%= f.label :current_password, class: 'form-label' %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <!-- Role Selection -->
  <div class="mb-3">
    <%= f.label :role, class: 'form-label' %>
    <%= f.select :role, options_for_select(["Donor", "Admin", "Hr"]), include_blank: "Select a role", class: 'form-select' %>
  </div>

  <!-- Submit Button -->
  <div class="mb-3">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
</div>

<%= link_to "Back", :back, class: 'btn btn-secondary' %>
