<section class="container">
  <h2 class="opacity">Sign up</h2>

  <div class="login-container">
    <div class="circle circle-one"></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-container">
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "family-name" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :aadhar_number %><br />
          <%= f.text_field :aadhar_number, autofocus: true, autocomplete: "aadhar_number" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %><br>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :role %><br />
          <%= f.select :role, ["donor", "admin", "operator"], prompt: "Select a role" %>
        </div>

        <div class="theme-btn-container">
          <div class="opacity">
            <%= f.submit "Sign up" %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%# <div class="circle circle-two"></div> %>
</section>

<style>
  

  a {
    text-decoration: none;
    color: var(--color);
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 50px;
    flex-direction: column;
  }

  .login-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
  }

  .form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    z-index: 99;
  }

  .field {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

  }

  .field label {
    display: block;
    margin-bottom: -1rem; 
  }

  .login-container form input,
  .login-container form select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: var(--color);
    font-size: 16px;
    letter-spacing: 0.5px;
    outline: none;
    margin-bottom: 1rem;
  }

  .login-container form input:focus,
  .login-container form select:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-color: var(--primary-color);
  }

  .login-container form button {
    width: 100%;
    padding: 14px;
    background-color: var(--primary-color);
    color: var(--color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .login-container form button:hover {
    background-color: #003c72;
  }

  .theme-btn-container {
    text-align: center;
  }

  .circle {
    position: absolute;
    width: 8rem;
    height: 8rem;
    background: var(--primary-color);
    border-radius: 50%;
    z-index: -1;
  }

  .circle-one {
    top: -3rem;
    left: -3rem;
  }

  .circle-two {
    bottom: 3rem;
    right: 3rem;
  }

  .opacity {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 480px) {
    .container {
      height: auto;
      padding: 20px;
    }

    .form-container {
      padding: 1.5rem;
    }
  }
</style>
