<!-- app/views/donors/index.html.erb -->

<h1>Donor Details</h1>

<% if @donor.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @donor.first_name %></td>
        <td><%= @donor.last_name %></td>
        <td><%= @donor.gender %></td>
        <td><%= @donor.birth_date %></td>
        <td><%= @donor.phone_number %></td>
        <td>
          <%= link_to 'View Form', donor_path(@donor), class: 'btn btn-info' %>        
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>No donor found for this user.</p>
    <%= link_to 'Lets Proceed', new_donor_path, class: 'btn btn-success' %>
<% end %>
