<h1 class="text-center mb-4">Donor Details</h1>

<% if @donor.present? %>
  <!-- Donor Details Section -->
  <div class="donor-details container">
    <h3>Personal Information</h3>
    <p><strong>Full Name:</strong> <%= @donor.first_name %> <%= @donor.middle_name %> <%= @donor.last_name %></p>
    <p><strong>Gender:</strong> <%= @donor.gender %></p>
    <p><strong>Birth Date:</strong> <%= @donor.birth_date %></p>
    <p><strong>Phone Number:</strong> <%= @donor.phone_number %></p>
    <p><strong>Alternate Phone Number:</strong> <%= @donor.alternate_phone_number %></p>
    <p><strong>City:</strong> <%= @donor.city %></p>
    <p><strong>State:</strong> <%= @donor.state %></p>
    <p><strong>Country:</strong> <%= @donor.country %></p>
    <p><strong>Language:</strong> <%= @donor.language %></p>
    <p><strong>Address:</strong> <%= @donor.address_line1 %>, <%= @donor.address_line2 %></p>
    <p><strong>ZIP Code:</strong> <%= @donor.zipcode %></p>
    <p><strong>Arrival Date:</strong> <%= @donor.arrival_datetime %></p>
    <p><strong>Potential Fraud:</strong> <%= @donor.potential_fraud %></p>
    <p><strong>Document:</strong> <%= @donor.document.present? ? "Uploaded" : "Not Uploaded" %></p>
  </div>

  <!-- Blood Donation Terms Section -->
  <div class="donor-details container mt-5">
    <h3>Thank You for Agreeing to the Terms and Conditions</h3>
    <p><strong>Thank you for your valuable contribution to saving lives!</strong></p>
  </div>

  <!-- Donor History Questionnaire Section -->
 <div class="donor-details container mt-5">
  <h3>Donor History Questionnaire (DHQ)</h3>
  <p><strong>Below are the responses provided by the donor:</strong></p>

  <% if @donor_history_questionnaires.present? %>
    <% @donor_history_questionnaires.each do |response| %>
      <div class="form-group mb-4">
        <p><strong>Question:</strong> <%= response.question.text %></p>
        <p><strong>Answer:</strong> <%= response.answer.capitalize %></p>
      </div>
    <% end %>
  <% else %>
    <p class="text-center text-danger">No responses have been provided by the donor.</p>
  <% end %>

<div class="form-group text-center mt-4">
  <%= link_to 'Back to Donors', current_user.admin? ? all_donors_questions_path : donors_path, class: 'btn btn-secondary ms-2' %>
</div>
<% else %>
  <p class="text-center text-danger">Donor details not found.</p>
<% end %>
