<section class="container-signin">
  <div class="login-container-signin">
    <div class="circle-signin circle-one-signin"></div>
    <h2 class="opacity-signin">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-container-signin">
        <div class="field-signin">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field-signin" %>
        </div>

        <div class="field-signin">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input-field-signin" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="register-forget-signin">
            <div class="remember-signin">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <div class="forgetpass-signin">
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            </div>
          </div>
        <% end %>

        <div class="theme-btn-container-signin">
          <div class="opacity-signin">
            <%= f.submit "Log in", class: "submit-btn-signin" %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "theme-btn-signin" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</section>

<style>
  :root {
    --background-signin: #1a1a2e;
    --color-signin: #ffffff;
    --primary-color-signin: #0f3460;
  }

  a {
    text-decoration: none;
    color: var(--color-signin);
  }

  h1 {
    font-size: 2.5rem;
  }

  .container-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 120px;
  }

  .login-container-signin {
    position: relative;
    width: 22.2rem;
  }

  .form-container-signin {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
  }

  .input-field-signin {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin-bottom: 50px;
    color: var(--color-signin);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
  }

  .input-field-signin:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble-signin 0.3s ease-in;
  }

  .submit-btn-signin {
    background-color: var(--primary-color-signin);
    color: var(--color-signin);
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
  }

  .submit-btn-signin:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }

  .circle-signin {
    width: 8rem;
    height: 8rem;
    background: var(--primary-color-signin);
    border-radius: 50%;
    position: absolute;
  }

  .illustration-signin {
    position: absolute;
    top: -14%;
    right: -2px;
    width: 90%;
  }

  .circle-one-signin {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
  }

  .circle-two-signin {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
  }

  .register-forget-signin {
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 20px;
  }

  .field-signin {
    display: flex;
    flex-direction: column;
  }

  .remember-signin {
    width: 150px;
    padding: 0px;
  }

  .forgetpass-signin {
    text-align: right;
  }

  .opacity-signin {
    opacity: 0.6;
  }

  .theme-btn-container-signin {
    position: relative;
    left: 0%;
    width: 100%;
  }

  .theme-btn-signin {
    cursor: pointer;
    margin-left: 110px;
    transition: all 0.3s ease-in;
  }

  .theme-btn-signin:hover {
    width: 40px !important;
  }

  @keyframes wobble-signin {
    0% {
        transform: scale(1.025);
    }
    25% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
    }
  }
</style>
