<%= form_with(model: @centre, local: true) do |form| %>
  <% if @centre.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors with your submission:</h4>
      <ul>
        <% @centre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :pincode %>
    <%= form.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number, class: 'form-control' %>
  </div>

  <!-- Hidden field for operator_id -->
  <%= form.hidden_field :operator_id, value: @operator %>

  <%= form.submit 'Save', class: 'btn btn-success' %>
  <%= link_to 'Cancel', centres_path, class: 'btn btn-secondary' %>
<% end %>
