<h1>Donor Physical Exams</h1>

<table>
  <thead>
    <tr>
      <th>Flipchart</th>
      <th>Donor Consents</th>
      <th>High Risk Questionnaire Score</th>
      <th>Body Map</th>
      <th>Physical Exam</th>
      <th>Centre</th>
      <th>Donor</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @donor_physical_exams.each do |exam| %>
      <tr>
        <td><%= exam.flipchart %></td>
        <td><%= exam.donor_consents %></td>
        <td><%= exam.high_risk_questionnaire_score %></td>
        <td><%= exam.body_map %></td>
        <td><%= exam.physical_exam %></td>
        <td><%= exam.centre.name if exam.centre.present? %></td>
        <td><%= exam.donor.first_name %> <%= exam.donor.last_name %> if exam.donor.present? %></td> <!-- Displaying donor's name -->
        <td>
          <%= link_to 'Show', donor_physical_exam_path(exam) %> |
          <%= link_to 'Edit', edit_donor_physical_exam_path(exam) %> |
          <%= link_to 'Delete', donor_physical_exam_path(exam), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Physical Exam', new_donor_physical_exam_path %>
