<h1>Donor Physical Exam</h1>

<p><strong>Physical Exam:</strong> <%= @donor_physical_exam.physical_exam %></p>
<p><strong>Centre:</strong> <%= @donor_physical_exam.centre.name if @donor_physical_exam.centre.present? %></p>
<p><strong>Donor:</strong> <%= @donor_physical_exam.donor.first_name %> <%= @donor_physical_exam.donor.last_name %> if @donor_physical_exam.donor.present? %></p>
<!-- Removed operator field completely -->
<%= link_to 'Edit', edit_donor_physical_exam_path(@donor_physical_exam) %> |
<%= link_to 'Back', donor_physical_exams_path %>
